menu "Eink Setting"
    choice EPD_SCREEN_SELECT
        bool "Select Epaper Screen"
        default EPD_SCREEN_2IN13
        help
            Select Epaper Screen.
    
        config EPD_SCREEN_2IN13
            bool "2in13"
        config EPD_SCREEN_2IN13_GOOD_DISPLAY
            bool "2in13 good display"
    endchoice

    config EDPIO_RST_PIN
        int "RESET PIN"
        default 5
        help
            Define gpio number of reset.

    config EDPIO_DC_PIN
        int "D/C PIN"
        default 16
        help
            Define gpio number of d/c.

    config EDPIO_CS_PIN
        int "CS PIN"
        default 21
        help
            Define gpio number of cs.

    config EDPIO_BUSY_PIN
        int "BUSY PIN"
        default 17
        help
            Define gpio number of busy.

    config EDPIO_MOSI_PIN
        int "MOSI PIN"
        default 18
        help
            Define gpio number of mosi.

    config EDPIO_SCLK_PIN
        int "SCLK PIN"
        default 19
        help
            Define gpio number of sclk.
endmenu
    