menu "Eink I/O setting"
    config EDPIO_RST_PIN
        int "RESET PIN"
        default 12
        help
            Define gpio number of reset.

    config EDPIO_DC_PIN
        int "D/C PIN"
        default 14
        help
            Define gpio number of d/c.

    config EDPIO_CS_PIN
        int "CS PIN"
        default 15
        help
            Define gpio number of cs.

    config EDPIO_BUSY_PIN
        int "BUSY PIN"
        default 35
        help
            Define gpio number of busy.

    config EDPIO_MOSI_PIN
        int "MOSI PIN"
        default 26
        help
            Define gpio number of mosi.

    config EDPIO_SCLK_PIN
        int "SCLK PIN"
        default 27
        help
            Define gpio number of sclk.
endmenu
